.grid_item div {
    display: flex;
    align-items: center;
    float: left;
    margin: 0;
    height: 20%;
    width: 100%;
    background-color: #ccc;
    box-sizing: border-box;
    white-Space: nowrap;
  
    .PointList {
      width: 280px;
    }
  
  
    .btn-select {
      height: 30px;
      padding: 0 12px;
      background-color: #0077ff;
      border: none;
      color: #ffffff;
      cursor: pointer;
      border-radius: 4px;
      transition: background-color 0.3s ease;
    }
  
  }
  
.focusSvg{
  height: 80%;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #000;
  margin-top: 5px;
}